<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error page</title>
    <style>
        .blue_color{
            color: blue;
        }
    </style>
</head>

<body>
    <h1 class ="blue_color">잘못된 페이지를 요청하였습니다</h1>
    <hr/>
    <a href="/">main으로가기 </a>

</body>
</html>